.comp {
    width: 300px;
    position: relative;
}

.comp .cabecalho {
    border-radius: 10px 10px 0px 0px;
}

.comp img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
    padding-bottom: -10px;
}

.comp .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.comp .rodape h2 {
    color: #6278F7;
    font-size: 18px;
    line-height: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

.comp .rodape h5 {
    font-size: 18px;
    line-height: 12px;
    color: #212121;
    padding: 0 8px;
}

.botao {
    margin-top: 20px;
}